<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="org.boofcv.android"
		  android:versionCode="1"
		  android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name="org.boofcv.android.DemoMain"
				  android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".VideoDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".CameraInfoActivity"/>
		<activity android:name=".PreferenceActivity"/>
		<activity android:name=".BlurDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".GradientDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".BinaryDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".PointDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".ScalePointDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".LineDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".KltDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".StabilizeDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".MosaicDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".AssociationActivity" android:screenOrientation="landscape"/>
		<activity android:name=".DdaTrackerDisplayActivity" android:screenOrientation="landscape"/>
		<activity android:name=".CombinedTrackerDisplayActivity" android:screenOrientation="landscape"/>
	</application>
</manifest>
